<ion-header>
  <ion-toolbar>
    <div class="header-bg">
      
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <h3 class="title ion-text-center">Dashboard</h3>
      </ion-title>
      <!-- <div class="profile-pic" (click)="profilePage()" slot="end"><img src="{{user_photo}}" class="width-100"/></div> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
